.dropdown-toggle::after {
  display: none;
}
.three-dot-menu:after {
  content: '\2807';
}

.first-div {
  max-width: 23rem;
}

.second-div {
  max-width: 40rem;
}

.woman-planning {
  max-width:500px;
}

.first-div-master {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d39e;
}

.plan-for-growth {
  max-width: 300px;
  border-radius: 8px;
  border: 2px solid #2c3e50;
  padding: 10px;
}

.landing-page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-links img {
  padding: 10px;
  max-width: 50px;
}

.navbar-brand, .card-title {
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

.landing-page-divider {
  background-color: #d3d3d39e;
  padding: 10px;
}

.mask {
  opacity: 0.4;
}
